div{
    background-color: aquamarine;
    padding: 15px;
    /*margin: 12px;*/
    width: 50%;
    text-align: center;
    border-radius:5%;
    /*border: 8px solid sandybrown;*/
    box-shadow: 10px 10px 20px teal;
    margin-bottom: 20px;
}